In [1]:
import pandas as pd
import numpy as np

In [2]:
torkamani_phenofile_path = "/gpfs/home/ptseng/Torkamani_Projects/20210830_PCa_UKBB/regenie/regenie_input/PCa_pheno.txt"
pejman_phenofile_path = "/gpfs/home/ptseng/Torkamani_Projects/20210901_PD_UKBB/pejman_PCa_run/regenie_input/PCa_pheno.txt"

In [5]:
torkamani_phenofile = pd.read_csv(torkamani_phenofile_path)
pejman_phenofile = pd.read_csv(pejman_phenofile_path)

In [6]:
torkamani_phenofile

              FID IID PCa
0       1000013 1000013 0
1       1000024 1000024 0
2       1000036 1000036 0
3       1000048 1000048 0
4       1000055 1000055 0
...                   ...
502480  6025012 6025012 0
502481  6025027 6025027 0
502482  6025030 6025030 0
502483  6025049 6025049 0
502484  6025051 6025051 0

[502485 rows x 1 columns]

In [7]:
pejman_phenofile

              FID IID PCa
0       3267059 3267059 0
1       4406597 4406597 0
2       2438420 2438420 0
3       5753871 5753871 0
4       3391516 3391516 0
...                   ...
501136  4044871 4044871 0
501137  1309718 1309718 0
501138  4214280 4214280 0
501139  2953263 2953263 0
501140  1905154 1905154 0

[501141 rows x 1 columns]

In [9]:
torkamani_phenofile.merge(pejman_phenofile,how="inner")

              FID IID PCa
0       1000013 1000013 0
1       1000024 1000024 0
2       1000036 1000036 0
3       1000048 1000048 0
4       1000055 1000055 0
...                   ...
501136  6025012 6025012 0
501137  6025027 6025027 0
501138  6025030 6025030 0
501139  6025049 6025049 0
501140  6025051 6025051 0

[501141 rows x 1 columns]