In [1]:
import pandas as pd
import numpy as np

In [2]:
torkamani_data_path = "/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/torkamani_request.txt"
pejman_data_path = "/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/pejman_request.txt"
matching_data_path = "/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/matched_torkamani_pejman_ids.txt"
subtor_out = "torkamani_subset.txt"
subpej_out = "pejman_subset.txt"

def find_index(input_list,targets):
    index = 0
    index_list = []
    for element in input_list:
        for target in targets:
            if element == target:
                targets.remove(target)
                index_list.append(index)
        index += 1
    return (index_list,targets)

columns_of_interest = [
    "f.31.0.0",
    "f.34.0.0",
    "f.52.0.0",
    "f.53.0.0", "f.53.1.0", "f.53.2.0", "f.53.3.0",
    "f.54.0.0", "f.54.1.0", "f.54.2.0", "f.54.3.0",
    "f.40006.0.0", "f.40006.1.0", "f.40006.2.0", "f.40006.3.0", "f.40006.4.0", "f.40006.5.0", 
    "f.40006.6.0", "f.40006.7.0", "f.40006.8.0", "f.40006.9.0", "f.40006.10.0", "f.40006.11.0", 
    "f.40006.12.0", "f.40006.13.0", "f.40006.14.0", "f.40006.15.0", "f.40006.16.0"
]
first_line = True
with open(subtor_out,'w') as outfile:
    with open(torkamani_data_path,'r') as infile:
        for line in infile:
            line = list(line[:-1].split(' '))
            if first_line:
                (indices, missing) = find_index(line, columns_of_interest)
                print(f'Targets at positions: {" ".join([str(i) for i in indices])}')
                print(f'Missing targets: {" ".join(missing)}')
                first_line = False
            output_list = line[:2] + [line[index] for index in indices]
            output_line = ' '.join(output_list) + '\n'
            outfile.write(output_line)

columns_of_interest = [
    "f.31.0.0",
    "f.34.0.0",
    "f.52.0.0",
    "f.53.0.0", "f.53.1.0", "f.53.2.0", "f.53.3.0",
    "f.54.0.0", "f.54.1.0", "f.54.2.0", "f.54.3.0",
    "f.40006.0.0", "f.40006.1.0", "f.40006.2.0", "f.40006.3.0", "f.40006.4.0", "f.40006.5.0", 
    "f.40006.6.0", "f.40006.7.0", "f.40006.8.0", "f.40006.9.0", "f.40006.10.0", "f.40006.11.0", 
    "f.40006.12.0", "f.40006.13.0", "f.40006.14.0", "f.40006.15.0", "f.40006.16.0"
]
first_line = True
with open(subpej_out,'w') as outfile:
    with open(pejman_data_path,'r') as infile:
        for line in infile:
            line = list(line[:-1].split(' '))
            if first_line:
                (indices, missing) = find_index(line, columns_of_interest)
                print(f'Targets at positions: {" ".join([str(i) for i in indices])}')
                print(f'Missing targets: {" ".join(missing)}')
                first_line = False
            output_list = line[:2] + [line[index] for index in indices]
            output_line = ' '.join(output_list) + '\n'
            outfile.write(output_line)

In [3]:
torkamani_data = pd.read_csv(subtor_out,sep=" ")[[
    'IID',
    "f.31.0.0",
    "f.34.0.0",
    "f.52.0.0",
    "f.53.0.0", "f.53.1.0", "f.53.2.0", "f.53.3.0",
    "f.54.0.0", "f.54.1.0", "f.54.2.0", "f.54.3.0",
    "f.40006.0.0", "f.40006.1.0", "f.40006.2.0", "f.40006.3.0", "f.40006.4.0", "f.40006.5.0", 
    "f.40006.6.0", "f.40006.7.0", "f.40006.8.0", "f.40006.9.0", "f.40006.10.0", "f.40006.11.0", 
    "f.40006.12.0", "f.40006.13.0", "f.40006.14.0", "f.40006.15.0", "f.40006.16.0"
]]
len(torkamani_data)

/opt/applications/python/3.8.3/gnu/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (19,20,21,22,23,24,26,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

502485

In [4]:
raw_pejman_data = pd.read_csv(subpej_out,sep=" ")
pejman_data = pd.read_csv(subpej_out,sep=" ")
len(pejman_data)

/opt/applications/python/3.8.3/gnu/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (18,19,20,21,22,23,24,26,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

502490

In [5]:
matching_data = pd.read_csv(matching_data_path,sep="\t")

/opt/applications/python/3.8.3/gnu/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
matching_data = matching_data.rename(columns={
    'Pejman':'pejID',
    'Torkamani':'torkID'
})
matching_data = matching_data[['pejID','torkID']]
matching_data = matching_data.loc[matching_data['pejID'] != 'f.eid']
matching_data = matching_data.astype('int64')
matching_data.head()

     pejID   torkID
0  3820588  3760523
1  2456041  1049680
2  3608945  4929987
3  4830048  2158683
4  1067801  5304020

In [7]:
pejman_data = pejman_data.rename(columns={'IID':'pejID'})
pejman_data['pejID'] = pejman_data['pejID'].astype('int64')
pejman_data = pejman_data.drop('FID',1)
pejman_data = pejman_data.merge(matching_data)
pejman_data[['FID']] = pejman_data['torkID']
pejman_data = pejman_data.rename(columns={'torkID':'IID'})
pejman_data = pejman_data[([
    'IID',
    "f.31.0.0",
    "f.34.0.0",
    "f.52.0.0",
    "f.53.0.0", "f.53.1.0", "f.53.2.0", "f.53.3.0",
    "f.54.0.0", "f.54.1.0", "f.54.2.0", "f.54.3.0",
    "f.40006.0.0", "f.40006.1.0", "f.40006.2.0", "f.40006.3.0", "f.40006.4.0", "f.40006.5.0", 
    "f.40006.6.0", "f.40006.7.0", "f.40006.8.0", "f.40006.9.0", "f.40006.10.0", "f.40006.11.0", 
    "f.40006.12.0", "f.40006.13.0", "f.40006.14.0", "f.40006.15.0", "f.40006.16.0"
])]

In [8]:
torkamani_data = torkamani_data.rename(columns={
    "f.31.0.0":"t.31.0.0",
    "f.34.0.0":"t.34.0.0",
    "f.52.0.0":"t.52.0.0",
    "f.53.0.0":"t.53.0.0", "f.53.1.0":"t.53.1.0", "f.53.2.0":"t.53.2.0", "f.53.3.0":"t.53.3.0",
    "f.54.0.0":"t.54.0.0", "f.54.1.0":"t.54.1.0", "f.54.2.0":"t.54.2.0", "f.54.3.0":"t.54.3.0",
    "f.40006.0.0":"t.40006.0.0", "f.40006.1.0":"t.40006.1.0", "f.40006.2.0":"t.40006.2.0", 
    "f.40006.3.0":"t.40006.3.0", "f.40006.4.0":"t.40006.4.0", "f.40006.5.0":"t.40006.5.0", 
    "f.40006.6.0":"t.40006.6.0", "f.40006.7.0":"t.40006.7.0", "f.40006.8.0":"t.40006.8.0", 
    "f.40006.9.0":"t.40006.9.0", "f.40006.10.0":"t.40006.10.0", "f.40006.11.0":"t.40006.11.0", 
    "f.40006.12.0":"t.40006.12.0", "f.40006.13.0":"t.40006.13.0", "f.40006.14.0":"t.40006.14.0", 
    "f.40006.15.0":"t.40006.15.0", "f.40006.16.0":"t.40006.16.0"
})
pejman_data = pejman_data.rename(columns={
    "f.31.0.0":"p.31.0.0",
    "f.34.0.0":"p.34.0.0",
    "f.52.0.0":"p.52.0.0",
    "f.53.0.0":"p.53.0.0", "f.53.1.0":"p.53.1.0", "f.53.2.0":"p.53.2.0", "f.53.3.0":"p.53.3.0",
    "f.54.0.0":"p.54.0.0", "f.54.1.0":"p.54.1.0", "f.54.2.0":"p.54.2.0", "f.54.3.0":"p.54.3.0",
    "f.40006.0.0":"p.40006.0.0", "f.40006.1.0":"p.40006.1.0", "f.40006.2.0":"p.40006.2.0", 
    "f.40006.3.0":"p.40006.3.0", "f.40006.4.0":"p.40006.4.0", "f.40006.5.0":"p.40006.5.0", 
    "f.40006.6.0":"p.40006.6.0", "f.40006.7.0":"p.40006.7.0", "f.40006.8.0":"p.40006.8.0", 
    "f.40006.9.0":"p.40006.9.0", "f.40006.10.0":"p.40006.10.0", "f.40006.11.0":"p.40006.11.0", 
    "f.40006.12.0":"p.40006.12.0", "f.40006.13.0":"p.40006.13.0", "f.40006.14.0":"p.40006.14.0", 
    "f.40006.15.0":"p.40006.15.0", "f.40006.16.0":"p.40006.16.0"
})

In [9]:
pejman_data

,IID,p.31.0.0,p.34.0.0,p.52.0.0,p.53.0.0,p.53.1.0,p.53.2.0,p.53.3.0,p.54.0.0,p.54.1.0,...,p.40006.7.0,p.40006.8.0,p.40006.9.0,p.40006.10.0,p.40006.11.0,p.40006.12.0,p.40006.13.0,p.40006.14.0,p.40006.15.0,p.40006.16.0
0,3267059,0.0,1965.0,4.0,2010-02-03,NaN,NaN,NaN,11020.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4406597,1.0,1946.0,9.0,2009-11-18,NaN,NaN,NaN,11017.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2438420,0.0,1959.0,7.0,2007-08-11,NaN,NaN,NaN,11002.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5753871,1.0,1954.0,4.0,2009-10-23,NaN,NaN,NaN,11020.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3391516,0.0,1945.0,2.0,2009-11-07,NaN,NaN,NaN,11016.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501136,4044871,1.0,1966.0,11.0,2008-02-06,NaN,2018-04-30,NaN,11005.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501137,1309718,0.0,1946.0,6.0,2009-06-16,NaN,NaN,NaN,11010.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501138,4214280,0.0,1968.0,11.0,2010-01-19,NaN,NaN,NaN,11020.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501139,2953263,0.0,1943.0,9.0,2010-05-28,NaN,NaN,NaN,11018.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501140,1905154,1.0,1943.0,5.0,2008-10-02,NaN,NaN,NaN,11011.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
torkamani_data

,IID,t.31.0.0,t.34.0.0,t.52.0.0,t.53.0.0,t.53.1.0,t.53.2.0,t.53.3.0,t.54.0.0,t.54.1.0,...,t.40006.7.0,t.40006.8.0,t.40006.9.0,t.40006.10.0,t.40006.11.0,t.40006.12.0,t.40006.13.0,t.40006.14.0,t.40006.15.0,t.40006.16.0
0,1000013,1.0,1941.0,4.0,2008-01-10,NaN,NaN,NaN,11004.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000024,0.0,1959.0,8.0,2007-11-20,NaN,NaN,NaN,11003.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000036,1.0,1945.0,1.0,2009-09-28,NaN,NaN,NaN,11018.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000048,1.0,1947.0,3.0,2009-10-26,NaN,NaN,NaN,11017.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000055,0.0,1944.0,7.0,2008-03-27,NaN,NaN,NaN,11006.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502480,6025012,0.0,1940.0,7.0,2008-09-19,NaN,NaN,NaN,11013.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502481,6025027,0.0,1941.0,5.0,2008-06-30,NaN,NaN,NaN,11009.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502482,6025030,0.0,1957.0,11.0,2008-07-21,NaN,NaN,NaN,11010.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502483,6025049,0.0,1946.0,9.0,2009-01-07,NaN,NaN,NaN,11013.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502484,6025051,1.0,1956.0,8.0,2008-07-17,NaN,NaN,NaN,11010.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
common_df = torkamani_data.merge(pejman_data, how = 'inner' ,indicator=False, left_on="IID", right_on="IID")

In [12]:
common_df[[
    "t.31.0.0","p.31.0.0", "t.34.0.0","p.34.0.0", "t.52.0.0","p.52.0.0"
]] = common_df[[
    "t.31.0.0","p.31.0.0", "t.34.0.0","p.34.0.0", "t.52.0.0","p.52.0.0"
]].astype(pd.Int16Dtype())
common_df[[
    "t.53.0.0","p.53.0.0", "t.53.1.0","p.53.1.0", "t.53.2.0","p.53.2.0", "t.53.3.0","p.53.3.0"
]] = common_df[[
    "t.53.0.0","p.53.0.0", "t.53.1.0","p.53.1.0", "t.53.2.0","p.53.2.0", "t.53.3.0","p.53.3.0"
]].astype("datetime64")

common_df[[
    "t.54.0.0","p.54.0.0", "t.54.1.0","p.54.1.0", "t.54.2.0","p.54.2.0", "t.54.3.0","p.54.3.0"
]] = common_df[[
    "t.54.0.0","p.54.0.0", "t.54.1.0","p.54.1.0", "t.54.2.0","p.54.2.0", "t.54.3.0","p.54.3.0"
]].astype(pd.Int16Dtype())

'''
common_df[[
    "t.40006.0.0","p.40006.0.0", "t.40006.1.0","p.40006.1.0", "t.40006.2.0","p.40006.2.0", 
    "t.40006.3.0","p.40006.3.0", "t.40006.4.0","p.40006.4.0", "t.40006.5.0","p.40006.5.0", 
    "t.40006.6.0","p.40006.6.0", "t.40006.7.0","p.40006.7.0", "t.40006.8.0","p.40006.8.0",
    "t.40006.9.0","p.40006.9.0", "t.40006.10.0","p.40006.10.0", "t.40006.11.0","p.40006.11.0", 
    "t.40006.12.0","p.40006.12.0", "t.40006.13.0","p.40006.13.0", "t.40006.14.0","p.40006.14.0", 
    "t.40006.15.0","p.40006.15.0", "t.40006.16.0","p.40006.16.0"
]] = common_df[[
    "t.40006.0.0","p.40006.0.0", "t.40006.1.0","p.40006.1.0", "t.40006.2.0","p.40006.2.0", 
    "t.40006.3.0","p.40006.3.0", "t.40006.4.0","p.40006.4.0", "t.40006.5.0","p.40006.5.0", 
    "t.40006.6.0","p.40006.6.0", "t.40006.7.0","p.40006.7.0", "t.40006.8.0","p.40006.8.0",
    "t.40006.9.0","p.40006.9.0", "t.40006.10.0","p.40006.10.0", "t.40006.11.0","p.40006.11.0", 
    "t.40006.12.0","p.40006.12.0", "t.40006.13.0","p.40006.13.0", "t.40006.14.0","p.40006.14.0", 
    "t.40006.15.0","p.40006.15.0", "t.40006.16.0","p.40006.16.0"
]].astype("string")
'''

'\ncommon_df[[\n    "t.40006.0.0","p.40006.0.0", "t.40006.1.0","p.40006.1.0", "t.40006.2.0","p.40006.2.0", \n    "t.40006.3.0","p.40006.3.0", "t.40006.4.0","p.40006.4.0", "t.40006.5.0","p.40006.5.0", \n    "t.40006.6.0","p.40006.6.0", "t.40006.7.0","p.40006.7.0", "t.40006.8.0","p.40006.8.0",\n    "t.40006.9.0","p.40006.9.0", "t.40006.10.0","p.40006.10.0", "t.40006.11.0","p.40006.11.0", \n    "t.40006.12.0","p.40006.12.0", "t.40006.13.0","p.40006.13.0", "t.40006.14.0","p.40006.14.0", \n    "t.40006.15.0","p.40006.15.0", "t.40006.16.0","p.40006.16.0"\n]] = common_df[[\n    "t.40006.0.0","p.40006.0.0", "t.40006.1.0","p.40006.1.0", "t.40006.2.0","p.40006.2.0", \n    "t.40006.3.0","p.40006.3.0", "t.40006.4.0","p.40006.4.0", "t.40006.5.0","p.40006.5.0", \n    "t.40006.6.0","p.40006.6.0", "t.40006.7.0","p.40006.7.0", "t.40006.8.0","p.40006.8.0",\n    "t.40006.9.0","p.40006.9.0", "t.40006.10.0","p.40006.10.0", "t.40006.11.0","p.40006.11.0", \n    "t.40006.12.0","p.40006.12.0", "t.40006.13.0","p.40006.13.0", "t.40006.14.0","p.40006.14.0", \n    "t.40006.15.0","p.40006.15.0", "t.40006.16.0","p.40006.16.0"\n]].astype("string")\n'

In [13]:
match = common_df["IID"] == common_df["IID"]
for tup in [
    ("t.31.0.0","p.31.0.0"),
    ("t.34.0.0","p.34.0.0"),
    ("t.52.0.0","p.52.0.0"),
    ("t.53.0.0","p.53.0.0"), ("t.53.1.0","p.53.1.0"), ("t.53.2.0","p.53.2.0"), ("t.53.3.0","p.53.3.0"),
    ("t.54.0.0","p.54.0.0"), ("t.54.1.0","p.54.1.0"), ("t.54.2.0","p.54.2.0"), ("t.54.3.0","p.54.3.0"),
    ("t.40006.0.0","p.40006.0.0"), ("t.40006.1.0","p.40006.1.0"), ("t.40006.2.0","p.40006.2.0"), 
    ("t.40006.3.0","p.40006.3.0"), ("t.40006.4.0","p.40006.4.0"), ("t.40006.5.0","p.40006.5.0"), 
    ("t.40006.6.0","p.40006.6.0"), ("t.40006.7.0","p.40006.7.0"), ("t.40006.8.0","p.40006.8.0"), 
    ("t.40006.9.0","p.40006.9.0"), ("t.40006.10.0","p.40006.10.0"), ("t.40006.11.0","p.40006.11.0"), 
    ("t.40006.12.0","p.40006.12.0"), ("t.40006.13.0","p.40006.13.0"), ("t.40006.14.0","p.40006.14.0"), 
    ("t.40006.15.0","p.40006.15.0"), ("t.40006.16.0","p.40006.16.0")
]:
    match &= (common_df[tup[0]] is common_df[tup[1]]) | (common_df[tup[0]].isna() == common_df[tup[1]].isna())

In [14]:
diff_df = common_df[~match]

In [15]:
diff_df

,IID,t.31.0.0,t.34.0.0,t.52.0.0,t.53.0.0,t.53.1.0,t.53.2.0,t.53.3.0,t.54.0.0,t.54.1.0,...,p.40006.7.0,p.40006.8.0,p.40006.9.0,p.40006.10.0,p.40006.11.0,p.40006.12.0,p.40006.13.0,p.40006.14.0,p.40006.15.0,p.40006.16.0
2321,1023303,1,1942,11,2008-10-10,2013-01-08,2019-03-01,2021-03-15,11008,11024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4102,1041170,0,1965,4,2007-07-02,NaT,2019-01-21,2021-02-07,11001,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4935,1049537,0,1965,6,2009-04-06,2013-03-01,2016-07-03,2021-02-11,11016,11024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6708,1067304,0,1965,5,2008-11-07,NaT,2018-07-29,2021-02-25,11009,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8528,1085586,0,1966,11,2007-11-22,2012-09-30,2014-06-21,2021-02-18,11001,11024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480725,5820448,1,1942,2,2006-05-19,2012-10-17,2016-11-01,2021-03-15,10003,11024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496302,5976587,1,1965,7,2006-04-21,2012-12-10,2015-11-10,2021-02-17,10003,11024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497900,5992612,1,1954,10,2008-04-29,NaT,2019-03-07,2021-03-09,11009,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499787,6011491,1,1965,12,2008-03-14,NaT,2018-07-31,2021-03-09,11009,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499907,6012709,0,1966,8,2007-11-24,NaT,2017-05-27,2021-03-07,11001,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
diff_df = diff_df[[
    "IID",
    "t.31.0.0","p.31.0.0",
    "t.34.0.0","p.34.0.0",
    "t.52.0.0","p.52.0.0",
    "t.53.0.0","p.53.0.0", "t.53.1.0","p.53.1.0", "t.53.2.0","p.53.2.0", "t.53.3.0","p.53.3.0",
    "t.54.0.0","p.54.0.0", "t.54.1.0","p.54.1.0", "t.54.2.0","p.54.2.0", "t.54.3.0","p.54.3.0",
    "t.40006.0.0","p.40006.0.0", "t.40006.1.0","p.40006.1.0", "t.40006.2.0","p.40006.2.0", 
    "t.40006.3.0","p.40006.3.0", "t.40006.4.0","p.40006.4.0", "t.40006.5.0","p.40006.5.0", 
    "t.40006.6.0","p.40006.6.0", "t.40006.7.0","p.40006.7.0", "t.40006.8.0","p.40006.8.0", 
    "t.40006.9.0","p.40006.9.0", "t.40006.10.0","p.40006.10.0", "t.40006.11.0","p.40006.11.0", 
    "t.40006.12.0","p.40006.12.0", "t.40006.13.0","p.40006.13.0", "t.40006.14.0","p.40006.14.0", 
    "t.40006.15.0","p.40006.15.0", "t.40006.16.0","p.40006.16.0"
]]
diff_df = diff_df[[
    "IID",
    "t.31.0.0","p.31.0.0",
    "t.34.0.0","p.34.0.0",
    "t.52.0.0","p.52.0.0",
    "t.53.0.0","p.53.0.0", "t.53.1.0","p.53.1.0", "t.53.2.0","p.53.2.0", "t.53.3.0","p.53.3.0",
    "t.54.0.0","p.54.0.0", "t.54.1.0","p.54.1.0", "t.54.2.0","p.54.2.0", "t.54.3.0","p.54.3.0",
    "t.40006.0.0","p.40006.0.0", "t.40006.1.0","p.40006.1.0", "t.40006.2.0","p.40006.2.0", 
    "t.40006.3.0","p.40006.3.0", "t.40006.4.0","p.40006.4.0", "t.40006.5.0","p.40006.5.0", 
    "t.40006.6.0","p.40006.6.0", "t.40006.7.0","p.40006.7.0", "t.40006.8.0","p.40006.8.0", 
    "t.40006.9.0","p.40006.9.0", "t.40006.10.0","p.40006.10.0", "t.40006.11.0","p.40006.11.0", 
    "t.40006.12.0","p.40006.12.0", "t.40006.13.0","p.40006.13.0", "t.40006.14.0","p.40006.14.0", 
    "t.40006.15.0","p.40006.15.0", "t.40006.16.0","p.40006.16.0"
]]

In [17]:
diff_df

,IID,t.31.0.0,p.31.0.0,t.34.0.0,p.34.0.0,t.52.0.0,p.52.0.0,t.53.0.0,p.53.0.0,t.53.1.0,...,t.40006.12.0,p.40006.12.0,t.40006.13.0,p.40006.13.0,t.40006.14.0,p.40006.14.0,t.40006.15.0,p.40006.15.0,t.40006.16.0,p.40006.16.0
2321,1023303,1,1,1942,1942,11,11,2008-10-10,2008-10-10,2013-01-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4102,1041170,0,0,1965,1965,4,4,2007-07-02,2007-07-02,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4935,1049537,0,0,1965,1965,6,6,2009-04-06,2009-04-06,2013-03-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6708,1067304,0,0,1965,1965,5,5,2008-11-07,2008-11-07,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8528,1085586,0,0,1966,1966,11,11,2007-11-22,2007-11-22,2012-09-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480725,5820448,1,1,1942,1942,2,2,2006-05-19,2006-05-19,2012-10-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496302,5976587,1,1,1965,1965,7,7,2006-04-21,2006-04-21,2012-12-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497900,5992612,1,1,1954,1954,10,10,2008-04-29,2008-04-29,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499787,6011491,1,1,1965,1965,12,12,2008-03-14,2008-03-14,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499907,6012709,0,0,1966,1966,8,8,2007-11-24,2007-11-24,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
common_df.to_csv("common.txt",sep=" ",index = False)

In [19]:
diff_df.to_csv("diff.txt",sep=" ",index=False)

In [20]:
target_list = [
    ".40006.0.0", ".40006.1.0", ".40006.2.0", ".40006.3.0", ".40006.4.0", ".40006.5.0", 
    ".40006.6.0", ".40006.7.0", ".40006.8.0", ".40006.9.0", ".40006.10.0", ".40006.11.0", 
    ".40006.12.0", ".40006.13.0", ".40006.14.0", ".40006.15.0", ".40006.16.0"
]
for (index,row) in diff_df.iterrows():
    for target in target_list:
        torkamani_target = "t" + target
        pejman_target = "p" + target
        torkamani_index = list(diff_df.columns).index(torkamani_target)
        pejman_index = list(diff_df.columns).index(pejman_target)
        if (row[[torkamani_index]].isna()[0]) or (row[[pejman_index]].isna()[0]):
            if (row[[torkamani_index]].isna()[0]) and (row[[pejman_index]].isna()[0]):
                pass
            else:
                print(f'{index}: {torkamani_target}={row[torkamani_index]} {pejman_target}={row[pejman_index]}')
        elif row[torkamani_index] == row[pejman_index]:
            pass
        else:
            print(f'{index}: {torkamani_target}={row[torkamani_index]} {pejman_target}={row[pejman_index]}')

In [21]:
row[21:23]

t.54.3.0    11025
p.54.3.0     <NA>
Name: 499907, dtype: object

In [22]:
(row[21] is np.NAN) and (row[22] is np.NAN)

False

In [23]:
row[21] is row[22]

False

In [24]:
(row[torkamani_index] == row[pejman_index]) or ((row[torkamani_index] is np.NAN) and (row[pejman_index] is np.NAN))

False

In [25]:
(row[torkamani_index] == row[pejman_index])

False

In [26]:
pejman_PCa_IDs = pd.read_csv("PCa_IDs")
torkamani_PCa_IDs = pd.read_csv("torkamani_PCa_IDs")

In [27]:
common_IDs = torkamani_PCa_IDs.merge(pejman_PCa_IDs,how="inner")

In [28]:
different_IDs = torkamani_PCa_IDs.merge(pejman_PCa_IDs, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

In [29]:
mismatch = different_IDs[["IID"]]

In [30]:
display(matching_data.dtypes)
display(mismatch.dtypes)

pejID     int64
torkID    int64
dtype: object

IID    int64
dtype: object

In [31]:
print(len(mismatch))
print(len(matching_data))
print(len(torkamani_data))
print(len(pejman_data))
print(len(torkamani_PCa_IDs))
print(len(pejman_PCa_IDs))

22
501141
502485
501141
7646
7624

In [32]:
22/7624*100

0.2885624344176285

In [41]:
(502485-501141)/502485 * 100

0.26747067076629155

In [35]:
IDs = pd.read_csv("PCa_IDs", sep=" ")
PCa = IDs.merge(common_df,how="inner")

In [36]:
mismatch.merge(matching_data,how="outer",left_on="IID",right_on="torkID",indicator=True)

              IID      pejID     torkID      _merge
0       1993980.0        NaN        NaN   left_only
1       2023631.0        NaN        NaN   left_only
2       2204263.0        NaN        NaN   left_only
3       2490827.0        NaN        NaN   left_only
4       2508856.0        NaN        NaN   left_only
...           ...        ...        ...         ...
501158        NaN  5968386.0  4754214.0  right_only
501159        NaN  2078349.0  1779158.0  right_only
501160        NaN  2670411.0  2573923.0  right_only
501161        NaN  4823908.0  4011860.0  right_only
501162        NaN  3328879.0  3670425.0  right_only

[501163 rows x 4 columns]

In [39]:
target_list = [
    ".31.0.0",
    ".34.0.0",
    ".52.0.0",
    ".53.0.0", ".53.1.0", ".53.2.0", ".53.3.0",
    ".54.0.0", ".54.1.0", ".54.2.0", ".54.3.0",
    ".40006.0.0", ".40006.1.0", ".40006.2.0", ".40006.3.0", ".40006.4.0", ".40006.5.0", 
    ".40006.6.0", ".40006.7.0", ".40006.8.0", ".40006.9.0", ".40006.10.0", ".40006.11.0", 
    ".40006.12.0", ".40006.13.0", ".40006.14.0", ".40006.15.0", ".40006.16.0"
]
issues = []
for (index,row) in PCa.iterrows():
    for target in target_list:
        torkamani_target = "t" + target
        pejman_target = "p" + target
        torkamani_index = list(PCa.columns).index(torkamani_target)
        pejman_index = list(PCa.columns).index(pejman_target)
        if (row[[torkamani_index]].isna()[0]) or (row[[pejman_index]].isna()[0]):
            if (row[[torkamani_index]].isna()[0]) and (row[[pejman_index]].isna()[0]):
                pass
            else:
                issues.append(f'{row[0]}: {torkamani_target}={row[torkamani_index]} {pejman_target}={row[pejman_index]}')
        elif row[torkamani_index] == row[pejman_index]:
            pass
        else:
            issues.append(f'{row[0]}: {torkamani_target}={row[torkamani_index]} {pejman_target}={row[pejman_index]}')

In [40]:
issues

['5820059: t.53.3.0=2021-03-10 00:00:00 p.53.3.0=NaT',
 '5820059: t.54.3.0=11025 p.54.3.0=<NA>',
 '1670369: t.53.3.0=2021-02-23 00:00:00 p.53.3.0=NaT',
 '1670369: t.54.3.0=11027 p.54.3.0=<NA>',
 '5760065: t.53.3.0=2021-02-18 00:00:00 p.53.3.0=NaT',
 '5760065: t.54.3.0=11025 p.54.3.0=<NA>']