In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../king_output/king_degree_1.kin0",sep='\t')

In [3]:
data.head()

,FID1,ID1,FID2,ID2,N_SNP,HetHet,IBS0,HetConc,HomIBS0,Kinship,IBD1Seg,IBD2Seg,PropIBD,InfType
0,1539811,1539811,5800299,5800299,486155,0.1023,0.0088,0.3768,0.1291,0.2224,0.6149,0.2057,0.5132,FS
1,1299687,1299687,3525708,3525708,485648,0.1105,0.0097,0.3841,0.1607,0.2278,0.4910,0.2268,0.4723,FS
2,2200338,2200338,3766714,3766714,486047,0.1143,0.0093,0.4014,0.1553,0.2399,0.4542,0.2481,0.4752,FS
3,4355496,4355496,3587648,3587648,486419,0.1258,0.0057,0.4614,0.1031,0.2857,0.4817,0.3291,0.5699,FS
4,3741707,3741707,1156166,1156166,485941,0.1188,0.0092,0.4221,0.1580,0.2498,0.4231,0.2835,0.4950,FS

In [4]:
data[['ID1','ID2','InfType']].to_csv("../intermediate_files/king_degree_1.kin0.reduced",sep=' ',index=False)

In [5]:
data

,FID1,ID1,FID2,ID2,N_SNP,HetHet,IBS0,HetConc,HomIBS0,Kinship,IBD1Seg,IBD2Seg,PropIBD,InfType
0,1539811,1539811,5800299,5800299,486155,0.1023,0.0088,0.3768,0.1291,0.2224,0.6149,0.2057,0.5132,FS
1,1299687,1299687,3525708,3525708,485648,0.1105,0.0097,0.3841,0.1607,0.2278,0.4910,0.2268,0.4723,FS
2,2200338,2200338,3766714,3766714,486047,0.1143,0.0093,0.4014,0.1553,0.2399,0.4542,0.2481,0.4752,FS
3,4355496,4355496,3587648,3587648,486419,0.1258,0.0057,0.4614,0.1031,0.2857,0.4817,0.3291,0.5699,FS
4,3741707,3741707,1156166,1156166,485941,0.1188,0.0092,0.4221,0.1580,0.2498,0.4231,0.2835,0.4950,FS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28027,3063386,3063386,2818846,2818846,485265,0.1155,0.0070,0.4060,0.1197,0.2535,0.5583,0.2271,0.5063,FS
28028,2748946,2748946,5606995,5606995,486394,0.0993,0.0000,0.3320,0.0004,0.2491,0.9984,0.0000,0.4992,PO
28029,3326960,3326960,4286827,4286827,484653,0.1198,0.0094,0.4293,0.1611,0.2529,0.4272,0.3236,0.5372,FS
28030,5465498,5465498,1228348,1228348,484253,0.1210,0.0052,0.4370,0.0894,0.2774,0.5774,0.2755,0.5642,FS
28031,5596655,5596655,5385863,5385863,483647,0.1003,0.0000,0.3342,0.0003,0.2504,1.0000,0.0000,0.5000,PO