In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('PD.sumstats',sep='\t')

In [9]:
1.37753874953525e-05/ (sum(data['Beta'])/len(data['Beta']))

2.768057140159863

In [5]:
data.loc[data['CHR']==1]

,SNP,CHR,POS,A1,A2,REF,EAF,Beta,se,P,N,INFO
0,rs10399793,1,49298,T,C,T,0.376217,-0.000282,0.000364,0.44,459256,0.342797
1,rs2462492,1,54676,C,T,C,0.599414,0.000114,0.000360,0.75,459256,0.340158
2,rs3107975,1,55326,T,C,T,0.991551,0.003084,0.002006,0.12,459256,0.324228
3,rs74447903,1,57033,T,C,T,0.998221,-0.003114,0.004464,0.49,459256,0.296256
4,1:70728_C_T,1,70728,C,T,C,0.997834,-0.000368,0.003631,0.92,459256,0.365713
...,...,...,...,...,...,...,...,...,...,...,...,...
935495,rs528385936,1,249228259,A,G,A,0.998330,0.000891,0.003159,0.78,459256,0.629737
935496,rs866635414,1,249230833,C,T,C,0.998659,-0.005930,0.004830,0.22,459256,0.336106
935497,rs538690590,1,249230837,G,A,G,0.998820,0.002605,0.005575,0.64,459256,0.283299
935498,rs532391199,1,249233024,G,A,G,0.997879,-0.002491,0.003580,0.49,459256,0.547818
935499,rs372858948,1,249238520,G,T,G,0.829062,0.000590,0.000485,0.22,459256,0.314214

In [6]:
subdata = data.loc[abs(data['Beta']) > data['se']]

In [19]:
subdata

,SNP,CHR,POS,A1,A2,REF,EAF,Beta,se,P,N,INFO
2,rs3107975,1,55326,T,C,T,0.991551,0.003084,0.002006,0.120,459256,0.324228
5,rs2462495,1,79033,A,G,A,0.001291,-0.005264,0.004622,0.250,459256,0.536566
13,rs576404767,1,544584,C,T,C,0.998110,0.003366,0.003290,0.310,459256,0.492517
18,rs538567606,1,565196,T,C,T,0.997690,0.004475,0.003492,0.200,459256,0.369036
36,rs375217967,1,568800,G,A,G,0.983068,0.001604,0.001385,0.250,459256,0.328855
...,...,...,...,...,...,...,...,...,...,...,...,...
12007877,rs115055839,22,51221731,T,C,T,0.926779,-0.000879,0.000394,0.026,459256,0.996764
12007880,rs150189434,22,51226692,G,A,G,0.998183,-0.002843,0.002591,0.270,459256,0.876746
12007881,rs186062720,22,51227766,T,C,T,0.997735,-0.006355,0.002616,0.015,459256,0.676869
12007882,rs9616985,22,51229805,T,C,T,0.926951,-0.000880,0.000396,0.026,459256,0.988928
12007883,rs555680442,22,51230673,G,C,G,0.997857,-0.002940,0.002746,0.280,459256,0.639446

In [16]:
print(max(subdata['P']))
print(max(data['P']))

0.32
1.0

In [8]:
subdata.loc[subdata['CHR']==22]

,SNP,CHR,POS,A1,A2,REF,EAF,Beta,se,P,N,INFO
11845363,rs80167676,22,16053444,A,T,A,0.927015,-0.000744,0.000625,0.230,459256,0.395399
11845364,rs117569664,22,16053730,C,A,C,0.942627,-0.000733,0.000700,0.300,459256,0.392988
11845365,rs915677,22,16053758,G,A,G,0.933531,-0.000797,0.000730,0.270,459256,0.315494
11845367,rs3013006,22,16054667,C,G,C,0.756006,-0.000592,0.000392,0.130,459256,0.367996
11845368,rs188793777,22,16054671,A,T,A,0.998430,0.004815,0.004226,0.250,459256,0.371870
...,...,...,...,...,...,...,...,...,...,...,...,...
12007877,rs115055839,22,51221731,T,C,T,0.926779,-0.000879,0.000394,0.026,459256,0.996764
12007880,rs150189434,22,51226692,G,A,G,0.998183,-0.002843,0.002591,0.270,459256,0.876746
12007881,rs186062720,22,51227766,T,C,T,0.997735,-0.006355,0.002616,0.015,459256,0.676869
12007882,rs9616985,22,51229805,T,C,T,0.926951,-0.000880,0.000396,0.026,459256,0.988928
12007883,rs555680442,22,51230673,G,C,G,0.997857,-0.002940,0.002746,0.280,459256,0.639446

In [11]:
subdata2 = data.loc[abs(data['Beta']) > 0.5 * data['se']]

In [12]:
subdata2

,SNP,CHR,POS,A1,A2,REF,EAF,Beta,se,P,N,INFO
0,rs10399793,1,49298,T,C,T,0.376217,-0.000282,0.000364,0.440,459256,0.342797
2,rs3107975,1,55326,T,C,T,0.991551,0.003084,0.002006,0.120,459256,0.324228
3,rs74447903,1,57033,T,C,T,0.998221,-0.003114,0.004464,0.490,459256,0.296256
5,rs2462495,1,79033,A,G,A,0.001291,-0.005264,0.004622,0.250,459256,0.536566
12,rs6683466,1,534583,C,G,C,0.993303,-0.001868,0.002292,0.420,459256,0.345195
...,...,...,...,...,...,...,...,...,...,...,...,...
12007881,rs186062720,22,51227766,T,C,T,0.997735,-0.006355,0.002616,0.015,459256,0.676869
12007882,rs9616985,22,51229805,T,C,T,0.926951,-0.000880,0.000396,0.026,459256,0.988928
12007883,rs555680442,22,51230673,G,C,G,0.997857,-0.002940,0.002746,0.280,459256,0.639446
12007885,rs376461333,22,51232488,A,G,A,0.979952,0.000520,0.000932,0.580,459256,0.610305
12007886,rs764597437,22,51234033,C,T,C,0.998817,0.001898,0.003550,0.590,459256,0.702773

In [13]:
max(subdata2['P'])

0.62

In [17]:
subdata3 = data.loc[data['P'] < 0.32]

In [18]:
subdata3

,SNP,CHR,POS,A1,A2,REF,EAF,Beta,se,P,N,INFO
2,rs3107975,1,55326,T,C,T,0.991551,0.003084,0.002006,0.120,459256,0.324228
5,rs2462495,1,79033,A,G,A,0.001291,-0.005264,0.004622,0.250,459256,0.536566
13,rs576404767,1,544584,C,T,C,0.998110,0.003366,0.003290,0.310,459256,0.492517
18,rs538567606,1,565196,T,C,T,0.997690,0.004475,0.003492,0.200,459256,0.369036
36,rs375217967,1,568800,G,A,G,0.983068,0.001604,0.001385,0.250,459256,0.328855
...,...,...,...,...,...,...,...,...,...,...,...,...
12007877,rs115055839,22,51221731,T,C,T,0.926779,-0.000879,0.000394,0.026,459256,0.996764
12007880,rs150189434,22,51226692,G,A,G,0.998183,-0.002843,0.002591,0.270,459256,0.876746
12007881,rs186062720,22,51227766,T,C,T,0.997735,-0.006355,0.002616,0.015,459256,0.676869
12007882,rs9616985,22,51229805,T,C,T,0.926951,-0.000880,0.000396,0.026,459256,0.988928
12007883,rs555680442,22,51230673,G,C,G,0.997857,-0.002940,0.002746,0.280,459256,0.639446

In [20]:
data.loc[data['A1'] == data['REF']]

,SNP,CHR,POS,A1,A2,REF,EAF,Beta,se,P,N,INFO
0,rs10399793,1,49298,T,C,T,0.376217,-0.000282,0.000364,0.44,459256,0.342797
1,rs2462492,1,54676,C,T,C,0.599414,0.000114,0.000360,0.75,459256,0.340158
2,rs3107975,1,55326,T,C,T,0.991551,0.003084,0.002006,0.12,459256,0.324228
3,rs74447903,1,57033,T,C,T,0.998221,-0.003114,0.004464,0.49,459256,0.296256
4,1:70728_C_T,1,70728,C,T,C,0.997834,-0.000368,0.003631,0.92,459256,0.365713
...,...,...,...,...,...,...,...,...,...,...,...,...
12007884,rs539541647,22,51231424,A,G,A,0.998719,-0.000694,0.003213,0.83,459256,0.792228
12007885,rs376461333,22,51232488,A,G,A,0.979952,0.000520,0.000932,0.58,459256,0.610305
12007886,rs764597437,22,51234033,C,T,C,0.998817,0.001898,0.003550,0.59,459256,0.702773
12007887,rs3896457,22,51237063,T,C,T,0.701781,-0.000019,0.000242,0.94,459256,0.852165
12007888,rs535432390,22,51239586,T,G,T,0.996983,0.000882,0.002171,0.68,459256,0.729767

In [22]:
subdata4 = data[['SNP','A2','A1','EAF','Beta','se','P','N']]
subdata4.rename(columns={'A2':'A1','A1':'A2','EAF':'freq','Beta':'b','P':'p'})

                  SNP A1 A2      freq         b        se     p       N
0          rs10399793  C  T  0.376217 -0.000282  0.000364  0.44  459256
1           rs2462492  T  C  0.599414  0.000114  0.000360  0.75  459256
2           rs3107975  C  T  0.991551  0.003084  0.002006  0.12  459256
3          rs74447903  C  T  0.998221 -0.003114  0.004464  0.49  459256
4         1:70728_C_T  T  C  0.997834 -0.000368  0.003631  0.92  459256
...               ... .. ..       ...       ...       ...   ...     ...
12007884  rs539541647  G  A  0.998719 -0.000694  0.003213  0.83  459256
12007885  rs376461333  G  A  0.979952  0.000520  0.000932  0.58  459256
12007886  rs764597437  T  C  0.998817  0.001898  0.003550  0.59  459256
12007887    rs3896457  C  T  0.701781 -0.000019  0.000242  0.94  459256
12007888  rs535432390  G  T  0.996983  0.000882  0.002171  0.68  459256

[12007889 rows x 8 columns]

In [23]:
subdata4.to_csv('PD.sumstats.for_sbayesr',sep=' ',index=False)